* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal-box{
    height: 90vh;
    background-color: #dff2f7;
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 15%;

}
.principal-box .form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h1, h3{
    color: white;
}
form {
    margin: 30px 50px;
    background-color: rgb(3, 10, 23);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 600px;
    width: 500px;
    padding: 30px;
}

input{
    padding: 3px;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px rgb(233, 7, 218);
    animation: 3s;
    color: gray;
    width: 90%;
    height: 30px;
}

label{
    color: rgb(255, 255, 255);
    

}

p{
    color: white;
}
.btn{
    color: white;
    padding: 3px;
    width: 100px;
    height: 30px;
    border-radius: 7px;
    border: none;
    box-shadow: 3px 3px rgb(7, 7, 40);
    background-color:rgb(233, 7, 218);
}

.buttons{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.modal{
    background-color: rgb(3, 10, 23) ;
}

.menor {
    background-color: red;
}

.dark-mode {
    background-color: black;
    color: white;
}

.other-mode  {
    background-color: rgb(208, 50, 155);
}

.other-mode h1, .other-mode label {
    color: black;
}

.other-mode input {
    box-shadow: 3px 3px rgb(3, 10, 23) ;
}

.other-mode .btn{
    background-color: rgb(20, 203, 7);
    border: none;
    box-shadow: 3px 3px rgb(3, 10, 23);
}

.respuesta-mode {
    background-color: rgb(208, 50, 155);
}

.respuesta-mode h3, .respuesta-mode p{
    color: black;
}

#respuestas {
    width: 300px;
    border-radius: 20px;
    padding: 6px 30px;
}

button.btn:hover {
    background-color: blue;
}

div.modal:active {
    background-color: chocolate;
}

